<div class="page-header">
	<h1>Registro de Usuario</h1>
</div>

<form ng-submit="register.regUser(regData);">
	
	<!-- Name -->
	<label>Nombre:</label>
	<input class= "form-control" type="text" name="name" placeholder="Nombre" ng-model="register.regData.name">
	<br>

	<!-- Email -->
	<label>Email:</label>
	<input class= "form-control" type="text" name="email" placeholder="Email" ng-model="register.regData.email">
	<br>

	<!--Username -->
	<label>Username</label>
	<input class= "form-control"  type="text" name="username" placeholder="Nombre Usuario" ng-model="register.regData.username">
	<br>

	<label>Password</label>
	<input class= "form-control"  type="password" name="password" placeholder="Contraseña" ng-model="register.regData.password">
	<br>
	<button class= "btn btn-primary" type="submit">Registrar</button>
</form>

<br>

<div class="jummbotron text-center" ng-show="register.loading">
	<span class="glyphicon-repeat spinner glyphicon"></span>
	<p>Cargando...</p>
</div>
<div class="show-hide-message row" ng-show="register.successMsg">
	<div class="alert-success alert"> {{register.successMsg}}</div>
</div>

<br>

<div class="show-hide-message row" ng-show="register.errorMsg">
	<div class="alert-danger alert"> {{register.errorMsg}}</div>
</div> 