<!-- Header -->
<div class="page-header">
	<h1>Editar Usuario</h1>
</div>
<!-- Header -->

<br>

<ul class="nav nav-tabs">
	<li role= "presentation" ng-click="edit.namePhase();" ng-class="nameTab" ><a href="#">Nombre</a></li>
	<li role= "presentation" ng-click="edit.usernamePhase();" ng-class="usernameTab" ><a href="#">Nombre Usuario</a></li>
	<li role= "presentation" ng-click="edit.emailPhase();" ng-class="emailTab" ><a href="#">E-mail</a></li>
	<li role= "presentation" ng-click="edit.permissionsPhase();" ng-class="permissionsTab" ><a href="#">Permission</a></li>
</ul>

<!-- Phase One : Name -->

<!-- Phase One: Username -->

<!-- Phase One: E-mail -->

<!-- Phase One: Permission -->